

:root {
  --primary-color: #F04729;
  --secondary-color: #00a35f;
  --Buttongreen-color: #11F091;
  --Highlightyellow-color: #F0DC41;
  --ButtonGrey-color: #4e4e4e;
  --normaltext-color: #3e3e3e;
  --lighttext-color: #898989;
  --Tiltecolor-color: #451DF0;
  --WhiteText-color: #ffffff;
  --OrangeText-color: #F03211;

  --breakpoint-xs: 0;
  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1200px;
  --font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol";
  --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas,
    "Liberation Mono", "Courier New", monospace;
}

body {
  font-size: 100%;
  color: rgb(31, 31, 31);
  height: 100%;
}

/* .bodBkg {
  background-image: url(../images/Background\ Image_fam.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size:cover;
  height:var(--breakpoint-sm);
} */

section.pad {

  padding: 40px 0px ;
}

header nav ul li a:hover {
  color: var(--Buttongreen-color);
  border-bottom: 2px solid var(--Buttongreen-color);
}
header nav ul li a {
  color: var(--Buttongreen-color);
  
}

.homenav:hover {
  color: var(--s);
  border-bottom: 2px solid var(--secondary-color);
}
.homenav{
  color: var(--secondary-color);
  
}


/* 
h2 {

    font-family: Impact;
}

header {
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px 35px;
    background-color: #f3f3f3;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background-image: url('../images/hero-bg.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-position: 80%;
    z-index: 9999;
  }
  
  header h1 {
    display: flex;
    font-weight: bold;
    font-size: 36px;
    color: var(--primary-color);
    margin: 0;
  }

  header a {
    text-decoration: none;
    color: var(--primary-color);
  }
  
  header nav {
    background-color: grey;
  }
  
  header nav ul {
    display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: center;
      list-style: none;
  }
  
  
  header nav ul li a {
    padding: 10px 15px;
    font-weight: lighter;
    font-size: 1.55vw;
  }
  
  header nav ul li a:hover {
    background: var(--primary-color);
    color: var(--secondary-color);
    border-radius: 15px;
    text-shadow: none;
  }

  nav img {
    max-width: 8%;
    max-height: 8%;

  }

  form input {
    height: 30%;
   width: 50%;
    border-radius: 3pt;
  }


  .lginput input {

    width: 50%;
    padding: 50px 50px;
    margin: 8px 0;
    box-sizing: border-box;
  }
  


#btn-success{

  background-color:var(--ButtonGrey-color);
  color: #ffffff;
}
   */

.footer {
  height: 50px;
}

.mt-auto{
  margin-top: auto!important;
}

section.homebkg {
  background-image: url("../images/Home\ Pic\ 1\ –\ 1.png");
  background-repeat: no-repeat;
  background-position: left;
  background-size: contain;
  height:var(--breakpoint-sm);
}

.planimg1 {
  background-image: url("../images/Gathering.png");
  background-repeat: no-repeat;
  background-position: right;
  background-size: cover;
  
 
}

input[type="button"] {
  background-color: var(--secondary-color);
  border-color: var(--secondary-color);
}

.noOutline {
  border: none;
}

a.btnHm{
  background-color: var(--secondary-color) ;
  border-color:var(--secondary-color);
}

a.btnPln{
  background-color: var(--secondary-color);
  border-color: var(--secondary-color);
}

input{
  border: none;
}

input[type=number] {
  border: none;
  border-bottom: 2px solid var(--secondary-color);
}

.inputBtm {
  border: none;
  border-bottom: 2px solid var(--secondary-color);
}

.alignbtm{
  display: flex;
  align-items: baseline;

}
.recGrn {
  background-color: var(--secondary-color);
  border-color: var(--Buttongreen-color);
}

.recBlu{
  background-color: var(--secondary-color);
  border-color: var(--secondary-color);
} 

.txtOrg{
  color: var(--primary-color);
}

.txtGrn{
  color: var(--secondary-color);
}

.textYlw{
  color:var(--Highlightyellow-color);
}

.button1 {
  background-color: var(--primary-color);
  border-color: var(--primary-color);
}

.title {
  font-family: Impact;
  /* color: var(--secondary-color) */
  font-size: 2.5em;
}

#introSect {
  background-image: url("../images/deskbkg6.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

#navSect {
  background-image: url("../images/Group\ Banner@3x.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}



.material-icons {
  font-family: "Material Icons";
  align-self: center;
  margin: left;
  font-size: 30px !important;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: "liga";
}


.material-symbols-outlined {
  font-family: "Material Icons";
  align-self: center;
  margin: left;
  font-size: 35px !important;
  color:var(--normaltext-color);


  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: "liga";
}

.material-symbols-edit {
  font-family: "Material Icons";
  align-self: center;
  margin: left;
  font-size: 25px !important;
  color:dodgerblue;


  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: "liga";
}

.dropdown:hover .dropdown-menu {
  display: block;

}

.material-symbols-white {
  
  color:white;

}

.bg-pic{
  background-image: url(../images/Bk\ for\ phone.png);
  background-repeat: no-repeat;
  background-position:center;
  background-size: contain;
}
  





@media print {
  .container {
    width: auto;
  }
}



 @media only screen and (min-width: 768px) { 

  .bg-pic{
    background-image: none;
  }

  .dropdown:hover .dropdown-menu {
    display: block;
  
  }
}
