

:root {
  --primary-color: #F04729;
  --secondary-color: #00A35E;
  
  --secondary-oppate: #f0fff9;
  --Buttongreen-color: #11F091;
  --Highlightyellow-color: #F0DC41;
  --ButtonGrey-color: #4e4e4e;
  --normaltext-color: #3e3e3e;
  --lighttext-color: #93979b;
  --Tiltecolor-color: #4A5071;
  --WhiteText-color: #ffffff;
  --OrangeText-color: #F03211;


  --breakpoint-xs: 0;
  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1200px;
  --font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol";
  --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas,
    "Liberation Mono", "Courier New", monospace;
}

body {
  font-size: 100%;
  color: var(--normaltext-color);
  height: 100%;
  font-family: 'Lato', sans-serif;


   background-color: #F8F8FF;
}

label {
  color: var(--lighttext-color);
  font-size: 20px;;
}


body.Bkgd {
 
  background-image: url(../images/Background\ Main.png);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center;
  background-size: cover;
  /* height:var(--breakpoint-sm); */
}

body.Bkgd2 {
  /* background-color: #f5f5fb; */
  background-image: url(../images/Background\ Main\ –\ 1.png);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center;
  background-size: cover;
  /* height:var(--breakpoint-sm); */
}

body.Bkgd3 {
  /* background-color: #f5f5fb; */
  background-image: url(../images/Background\ Main\ 2.png);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center;
  background-size: cover;
  /* height:var(--breakpoint-sm); */
}





header nav ul li a:hover {
  color: var(--Buttongreen-color);
  border-bottom: 2px solid var(--Buttongreen-color);
}
header nav ul li a {
  color: var(--Buttongreen-color);
  
}

.homenav:hover {
  color: var(--s);
  border-bottom: 2px solid var(--secondary-color);
}
.homenav{
  color: var(--secondary-color);
  
}

.rcorners {
  border-radius: 15px;
}


/* 
h2 {

    font-family: Impact;
}

header {
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px 35px;
    background-color: #f3f3f3;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background-image: url('../images/hero-bg.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-position: 80%;
    z-index: 9999;
  }
  
  header h1 {
    display: flex;
    font-weight: bold;
    font-size: 36px;
    color: var(--primary-color);
    margin: 0;
  }

  header a {
    text-decoration: none;
    color: var(--primary-color);
  }
  
  header nav {
    background-color: grey;
  }
  
  header nav ul {
    display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: center;
      list-style: none;
  }
  
  
  header nav ul li a {
    padding: 10px 15px;
    font-weight: lighter;
    font-size: 1.55vw;
  }
  
  header nav ul li a:hover {
    background: var(--primary-color);
    color: var(--secondary-color);
    border-radius: 15px;
    text-shadow: none;
  }

  nav img {
    max-width: 8%;
    max-height: 8%;

  }

  form input {
    height: 30%;
   width: 50%;
    border-radius: 3pt;
  }


  .lginput input {

    width: 50%;
    padding: 50px 50px;
    margin: 8px 0;
    box-sizing: border-box;
  }



#btn-success{

  background-color:var(--ButtonGrey-color);
  color: #ffffff;
}
   */


/* The container */
.checkBX {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.checkBX input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 40px;
  width: 40px;
  background-color: #ffffff;
}

/* On mouse-over, add a grey background color */
.checkBX:hover input ~ .checkmark {
  background-color: #8de6c1;
  outline:none;
}

/* When the checkbox is checked, add a green background */
.checkBX input:checked ~ .checkmark {
  background-color: #00A35E;
  outline:none;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.checkBX input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.checkBX .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

   .tableFooter{
     background-color: #F5F6FA;
   }

.footer {
  height: 50px;
}

.pdfPad {
  position: relative;
  top: -150px;

}

.dashHgt{
  
  padding-bottom: 700px;

}

.dashPad{
  padding: 25px 0px;
  /* padding-left: 325px; */
padding-left: 330px ;
padding-right: 100px7272;


}


.mt-auto{
  margin-top: auto!important;
}

section.homebkg {
  background-image: url("../images/Home\ Pic\ 1\ –\ 1.png");
  background-repeat: no-repeat;
  background-position: left;
  background-size: contain;
  height:var(--breakpoint-sm);
}

main.food {
  background-image: url("../images/Food\ Storage\ Cal\ 1.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size:cover;
  background-attachment:local;
  
  
  
}

.planimg1 {
  background-image: url("../images/Gathering.png");
  background-repeat: no-repeat;
  background-position: right;
  background-size: cover;
  
 
}

/* input[type="button"] {
  background-color: var(--secondary-color);
  border-color: var(--secondary-color);
} */

.noOutline {
  border: none;
}

a.btnHm{
  background-color: var(--secondary-color) ;
  border-color:var(--secondary-color);
}

a.btnYllw{
  background-color: var(--Highlightyellow-color) ;
  border-color:var(--Highlightyellow-color);
}

a.btnSai{
  background-color: var(--Tiltecolor-color) ;
  border-color:var(--Tiltecolor-color);
}

a.btnHmOrg{
  background-color:var(--primary-color) ;
  border-color:var(--primary-color);
}

a.btnOppate{
  background-color: var(--secondary-oppate) ;
  border-color:var(--secondary-oppate);
}

.grnOppate{
  background-color: var(--secondary-oppate) ;
  border-color: var(--secondary-oppate) ;
  
  
}

.grnOppateBtn{
  background-color: #79C99D ;
  border-color: #79C99D ;

}


.circle {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  display: inline-block;
}

.circleBdr {
  border-width: 2px;
  border-style: solid;
  border-color:var(--secondary-color);
}


.orgOppate{
  background-color:#137c595b;
  border-color:none;
  
}

.txtNorm{
  color: var(--normaltext-color)
 
}

.bkgBlu{
  background-color:#137c5934;
  border-color:#4A5071;
  
}

.bkgYlw{
  background-color:var(--Highlightyellow-color);
  border-color:var(--Highlightyellow-color);
  
}


.bkgdash{
  background-color:#3b68431f;
  border-color:#797c8d;
  
}

a.btnPln{
  background-color: var(--secondary-color);
  border-color: var(--secondary-color);
}

.txtBlu{
  color:var(--Tiltecolor-color);
}

.txtGry{

  color: var(--ButtonGrey-color);
}

input{
  border: none;
  background-color: #f4f4f5;
font-weight:350;
 
}
input.btn{
  
  height:40px;
  font-size:16px;
}

input:focus {
  border: none;

}

.inputOutline{
  border-bottom: 2px solid var(--normaltext-color);

};



.grnFocus:focus
{
    
    border: 2px solid var(--secondary-color);
}

.phWhite::placeholder {
  color:var(--WhiteText-color) ;
  font-weight:500;
  font-size:20px;
}

.phdark::placeholder {
  color:var(--normaltext-color) ;
  font-weight:500;
  font-size:20px;
}

.txtImpact {
font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;


}

/* Adjusted styles for the input field */
.input-field {

  resize: none; /* Disable resizing */

}


.input-field::placeholder {
  color:#a8a8a8; /* Placeholder text color */
}

.input-field:focus {
  outline: none;
  box-shadow: none; /* For Bootstrap, which applies box-shadow on focus to form controls */

  background-color: var(--Tiltecolor-color); /* Background color when focused */
  border-color: var(--Tiltecolor-color);
  color: var(--Tiltecolor-color); /* Text color when focused */
}

input[type=number] {
  border: none;
  
}

.inputBtm {
  border: none;
  border-bottom: 2px solid var(--secondary-color);
}

.inputHgtClr{
background-color: #f4f4f5;
font-weight:300;
  height:40px;
}

.alignbtm{
  display: flex;
  align-items: baseline;

}
.recGrn {
  background-color: var(--secondary-color);
  border-color: var(--Buttongreen-color);
}

.bgOrg {
  background-color: var(--primary-color);
  border-color:var(--primary-color);
  color: var(--primary-color);
  cursor: pointer;
}
.bgOrg:hover {
  background-color:#ec4c2f ;
  color: var(--primary-color);
  cursor: pointer;
}

.bgAmazon {

  background-color: #ffa41c;
}

.bgBlu{
  background-color:var(--Tiltecolor-color);
  border-color: var(--Tiltecolor-color);
} 

.recBlu{
  background-color:var(--secondary-color);
  border-color: var(--secondary-color);
} 

.outlineWht {
  border-color: var(--WhiteText-color);
  background-color: var(--secondary-color);

}

.txtOppate{
  color: rgb(188, 255, 218);
}

.txtOrg{
  color: var(--primary-color);
}

.txtLiteOrg{
  color: rgb(255, 102, 102);
}


.txtBlue{
  color: #091e42;
}

.txtGrn{
  color: var(--secondary-color);
}

.textYlw{
  color:var(--Highlightyellow-color);
}

.button1 {
  background-color: var(--primary-color);
  border-color: var(--primary-color);
}

.title {
  font-family: Impact;
  color:var(--Tiltecolor-color);
  font-size: 2.5em;
}
.headerClr{
  color:var(--Tiltecolor-color);

}

#introSect {
  background-image: url("../images/deskbkg6.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

#navSect {
  background-image: url("../images/Group\ Banner@3x.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.robotoFnt {
  font-family: sans-serif;
}

.infantOL {
  background-color: #778CFE;
  border-color: #778CFE;
}

.infantTxt {
  color: #778CFE;
 
}

.kidsOL {
  background-color: #39D2A1;
  border-color: #39D2A1; 
}

.kidsTxt {
  color: #39D2A1;
 
}

.adultsOL {
  background-color: #FF6346;
  border-color: #FF6346; 
}

.dropSelected{
  background-color: #00a35fc8;

}

.radientBg{
  background: #4a50710f;
  /* background: linear-gradient(110deg, #00a35f63, rgb(247, 247, 248)); */

}

.adultsTxt {
  color: #FF6346;
  
}

textarea {
  height: 150px; /* Adjust the value to your desired height */
}

.floating-question.scrolling {
  position: sticky;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 9999;
}



/* The container */
.checkbox {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.checkbox input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  outline: 1px solid var(--ButtonGrey-color);
  border-radius: 5px;
}

/* On mouse-over, add a grey background color */
.checkbox:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.checkbox input:checked ~ .checkmark {
  background-color: var(--ButtonGrey-color);
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.checkbox input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.checkbox .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.placewhite::placeholder {
  color: white;
  }

/* animate logo in home page begin*/
.navbar {
  display: flex;
  overflow: hidden;
  white-space: nowrap;
}

.navbar .iconslide {
  visibility: hidden;
  animation: slideIn 0.75s forwards;
}

/* .contact-column {
  padding: 15px;
  margin-bottom: 15px;
  border: 1px solid #ddd;
  border-radius: 5px;
} */
.person-group {
  margin-bottom: 10px;
}

@keyframes slideIn {
  0% {
    visibility: visible;
    transform: translateX(-100%);
  }
  100% {
    visibility: visible;
    transform: translateX(0%);
  }
}


.fab-container {
  position: fixed;
  bottom: 20px;
  right: 20px;
}



/* animate logo in home page end */

.material-icons {
  font-family: "Material Icons";
  align-self: center;
  align-self: center;
  align-items: center;
  align-content: center;
  margin: left;
  font-size: 30px !important;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: "liga";
}


.material-nav {
  font-family: "Material Icons";
  align-self: center;
  align-self: center;
  align-items: center;
  align-content: center;
  margin: left;
  font-size: 25px !important;
  color:dodgerblue;


  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: "liga";

}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

.material-symbols-outlinedd {
  font-family: "Material Icons";
  align-self: center;
  align-items: center;
  align-content: center;
  margin: left;
  font-size: 40px !important;
  color:var(--normaltext-color);


  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: "liga";
}

.material-symbols-rounded {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}

.material-nav {
  font-family: "Material Icons";
  align-self: center;
  align-self: center;
  align-items: center;
  align-content: center;
  font-weight:800;

  
  color:var(--secondary-color);


  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: "liga";

    
  

}


.material-symbols-edit {
  font-family: "Material Icons";
  align-self: center;
  align-self: center;
  align-items: center;
  align-content: center;
  margin: left;
  font-size: 25px !important;
  color:dodgerblue;


  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: "liga";
}

.dropdown:hover .dropdown-menu {
  display: block;

}

.material-symbols-white {
  
  color:white;

}

/* Hover styles for links */
.txtOppate a:hover {
  background-color:#137c595b;
  border-color:none;
}

.txtOppate a:hover span {
  color: white
}

.txtOppate a:hover .material-icons {
  color: white
}


#map1 {
  height: 400px;
  width: 100%;
}

#map2 {
 height: 400px;
 width: 100%;
}
#map3 {
 height: 400px;
 width: 100%;
}

#map4 {
  height: 400px;
  width: 100%;
}
#map5 {
  height: 400px;
  width: 100%;
}



 /* Custom CSS styling */
 .map-container {
  border-radius: 20px;
 }

 /* Additional CSS for mobile readability */
 .form-control {
   font-size: 16px;
   padding: 8px;
 }
 h1,
 h2 {
   font-size: 24px;
 }

 /* Custom styling for select box */
 select.form-control {
   color: #fff;
   background-color: #00a35d;
   border-color: #00a35d;
 }

 .container-section {
  page-break-before: always;
}

tr.mobileAmazon div {
  margin-bottom: 25px; /* Adjust the margin value as needed */
  
}

/* Add this CSS to create a smooth fade-in and fade-out transition */
.element-to-hide {
  opacity: 1;
  transition: opacity 0.15s ease-in-out;
}

.hide-element {
  opacity: 0;
}


@media print {
  .container {
    width: auto;
  }
}



 @media only screen and (min-width: 1166px) { 


  .dropdown:hover .dropdown-menu  {
    display: block;
  
  }

  section.pad {

    padding: 100px 150px ;
  }

  .phone-only {
    display: none;
  
  }
 
}


@media only screen and (max-width: 1166px) { 

  .phone-block{

    display:none;
  }

  .bg-pic{
    background-image: url(../images/Bk\ for\ phone.png);
    background-repeat:no-repeat;
    background-position:center;
    background-size:contain;
}

.stp1-pic{
  background-image: url(../images/Gathering.png);
  background-repeat:no-repeat;
  background-position:center;
  background-size:contain;
}

.stp1_5-pic{
  background-image: url(../images/Contact.png);
  background-repeat:no-repeat;
  background-position:center;
  background-size:contain;
}

.stp2-pic{
  background-image: url(../images/Food\ Supply\ Main\ –\ 1.png);
  background-repeat:no-repeat;
  background-position:center;
  background-size:contain;
}
.stp3-pic{
  background-image: url(../images/Additional\ Supplies\ Main.png);
  background-repeat:no-repeat;
  background-position:center;
  background-size:contain;
}

}

/* Mobile-specific styles */
@media only screen and (max-width: 576px) {
  .navbar {
    padding: 10px;
  }

  .navbar-toggler {
    margin-top: 0;
  }

  /* .phone-only {
    display: block;
  
  } */



  .h4,
  .h5 {
    font-size: 1.25rem;
  }
}


