/*
 * Optional: Makes the sample page fill the window.
 */
 html,
 body {
   height: 100%;
   margin: 0;
   padding: 0;
 }
 
 #map1 {
   height: 400px;
   width: 100%;
 }
 
 #map2 {
  height: 400px;
  width: 100%;
}
#map3 {
  height: 400px;
  width: 100%;
}